faiss-cpu==1.15.1
google-genai==2.25.0
googletrans==4.0.2
langchain_core==1.6.5
langchain_google_genai==4.4.0
langchain_text_splitters==1.1.1
moviepy==2.2.1
pandas==3.0.2
pdf2image==1.17.0
Pillow==12.2.0
protobuf==7.34.1
pydantic_settings==2.13.1
pypdf==6.10.0
pytesseract==0.3.13
python-dotenv==1.2.2
Requests==2.33.1
sentence_transformers==5.4.0
